<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
      <th>Machine name</th>
      <th>Default value</th>
      <th>Unit value</th>
      <th>Revenue</th>
      <th>Group</th>
      <th>Widget</th>
      <th>Title</th>
      <th>Description</th>
      <th>Modal</th>
      <th>Popover</th>
      <th>Labels</th>
      <th>Options</th>
      <th>Unit name</th>
      <th>Maxlength</th>
      <th>Placeholder</th>
      <th>Required</th>
      <th>Rows</th>
      <th>Cols</th>
      <th>Size</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.section %></td>
        <td><%= question.name %></td>
        <td><%= question.machine_name %></td>
        <td><%= question.default_value %></td>
        <td><%= question.unit_value %></td>
        <td><%= question.revenue %></td>
        <td><%= question.group %></td>
        <td><%= question.widget %></td>
        <td><%= question.title %></td>
        <td><%= question.description %></td>
        <td><%= question.modal %></td>
        <td><%= question.popover %></td>
        <td><%= question.labels %></td>
        <td><%= question.options %></td>
        <td><%= question.unit_name %></td>
        <td><%= question.maxlength %></td>
        <td><%= question.placeholder %></td>
        <td><%= question.required %></td>
        <td><%= question.rows %></td>
        <td><%= question.cols %></td>
        <td><%= question.size %></td>
        <td><%= question.position %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
