<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @question.section %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @question.machine_name %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @question.default_value %>
</p>

<p>
  <strong>Unit value:</strong>
  <%= @question.unit_value %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @question.revenue %>
</p>

<p>
  <strong>Group:</strong>
  <%= @question.group %>
</p>

<p>
  <strong>Widget:</strong>
  <%= @question.widget %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Modal:</strong>
  <%= @question.modal %>
</p>

<p>
  <strong>Popover:</strong>
  <%= @question.popover %>
</p>

<p>
  <strong>Labels:</strong>
  <%= @question.labels %>
</p>

<p>
  <strong>Options:</strong>
  <%= @question.options %>
</p>

<p>
  <strong>Unit name:</strong>
  <%= @question.unit_name %>
</p>

<p>
  <strong>Maxlength:</strong>
  <%= @question.maxlength %>
</p>

<p>
  <strong>Placeholder:</strong>
  <%= @question.placeholder %>
</p>

<p>
  <strong>Required:</strong>
  <%= @question.required %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @question.rows %>
</p>

<p>
  <strong>Cols:</strong>
  <%= @question.cols %>
</p>

<p>
  <strong>Size:</strong>
  <%= @question.size %>
</p>

<p>
  <strong>Position:</strong>
  <%= @question.position %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
