<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Simulators'), simulators_path %></li>
  <li><%= link_to @simulator.name, @simulator %></li>
  <li><%= link_to @section.display_name, [@simulator, @section] %></li>
  <li class="active"><%= @question.display_name %>
    <%= link_to [:edit, @simulator, @section, @question], class: 'btn btn-default btn-xs', title: _('Edit') do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </li>
</ol>
<% end %>

<% if @question.any_of?(:name, :machine_name, :default_value, :unit_value, :account) %>
<div class="panel panel-primary">
  <div class="panel-heading panel-title">
    <%= _('Simulation') %>
  </div>
  <div class="panel-body">
    <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @question, attribute: :name} %>
    <% [:machine_name, :default_value, :unit_value, :account].each do |attribute| %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @question, attribute: attribute} %>
    <% end %>
  </div>
</div>
<% end %>

<% if @question.any_of?(:widget, :unit_name, :labels, :options, :revenue) %>
<div class="panel panel-primary">
  <div class="panel-heading panel-title">
    <%= _('Widget') %>
  </div>
  <div class="panel-body">
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @question, attribute: :widget} %>
    <% [:unit_name, :labels].each do |attribute| %>
    <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @question, attribute: attribute} %>
    <% end %>
    <% [:options, :revenue].each do |attribute| %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @question, attribute: attribute} %>
    <% end %>
  </div>
</div>
<% end %>

<% if @question.any_of?(:title, :description, :modal, :popover, :required, :placeholder, :maxlength, :rows, :cols, :size) %>
<div class="panel-group" id="panels">
  <% if @question.any_of?(:title, :description, :modal, :popover) %>
  <div class="panel panel-info">
    <div class="panel-heading panel-title">
      <a data-toggle="collapse" data-parent="#panels" href="#text">
        <%= _('Text') %>
      </a>
    </div>
    <div id="text" class="panel-collapse collapse">
      <div class="panel-body">
        <% [:title, :description, :modal, :popover].each do |attribute| %>
        <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @question, attribute: attribute} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <% if @question.any_of?(:required, :placeholder, :maxlength, :rows, :cols, :size) %>
  <div class="panel panel-info">
    <div class="panel-heading panel-title">
      <a data-toggle="collapse" data-parent="#panels" href="#html">
        <%= _('HTML attributes') %>
      </a>
    </div>
    <div id="html" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @question, attribute: :required} %>
        <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @question, attribute: :placeholder} %>
        <% [:maxlength, :rows, :cols, :size].each do |attribute| %>
        <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @question, attribute: attribute} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
