<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Sensitivity Tables'), sensitivities_path %></li>
  <li><%= link_to @sensitivity.name, @sensitivity%></li>
  <li><%= link_to @sensitivity_section.name, [@sensitivity, @sensitivity_section] %></li>
  <li><%= _('Impact') %></li>
  <li class="active"><%= _('Add') %></li>
</ol>
<% end %>

<%= render 'form' %>

