<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Sensitivity Tables'), sensitivities_path %></li>
  <li><%= link_to @sensitivity.name, @sensitivity%></li>
  <li><%= link_to @sensitivity_section.name, [@sensitivity, @sensitivity_section] %></li>

  <li class="active"><%= @impact.name %>
    <%= link_to [:edit, @sensitivity, @sensitivity_section, @impact], class: 'btn btn-default btn-xs', title: _('Edit') do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to new_sensitivity_sensitivity_section_impact_path(@sensitivity, @sensitivity_section), class: 'btn btn-default btn-xs' do %>
      <span class="glyphicon glyphicon-plus"></span> <%= _('Add an impact') %>
    <% end %>
    <%= link_to new_sensitivity_sensitivity_section_path(@sensitivity), class: 'btn btn-default btn-xs' do %>
      <span class="glyphicon glyphicon-plus"></span> <%= _('Add a section') %>
    <% end %>
  </li>
</ol>
<% end %>

<% if @impact.any_of?(:name, :machine_name) %>
<div class="panel panel-primary">
  <div class="panel-heading panel-title">
    <%= _('Economic Measures') %>
  </div>
  <div class="panel-body">
    <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @impact, attribute: :name} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @impact, attribute: :machine_name} %>
    <div class="row">
      <div class="col-sm-2">
        <h2>Public</h2>
      </div>
      <div class="col-sm-10">
        <%= @impact.is_public? ? "Yes" : "No" %>
      </div>
    </div>

    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @impact, attribute: :year_1_formula} %>

  </div>
  <div class="panel-body">
    <% if false %>
    <% year = '' %>
    <% @impact.impact_variables.each do |variable| %>
      <%= year != variable.year ? "<legend>#{variable.year}</legend>".html_safe : '' %>
      <% year = variable.year %>

      <div style="padding-bottom: 6px"><u><%= variable.variable.name %></u></div>
      
        <%= render partial: 'citizen_budget_model/shared/field', locals: {record: variable, attribute: :coefficient} %>
        <%= render partial: 'citizen_budget_model/shared/field', locals: {record: variable, attribute: :prepopulated_result} %>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

