<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Organizations') %></li>
</ol>
<% end %>

<ul class="list-unstyled">
<% @organizations.each do |organization| %>
  <li>
    <%= link_to edit_organization_path(organization), class: 'action-edit' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= _('Edit') %>
    <% end %>
    <%= link_to organization, class: 'action-delete', method: :delete, data: { confirm: _('Are you sure?') } do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= _('Delete') %>
    <% end %>
    <%= link_to organization.name, organization, class: 'action-show' %>
  </li>
<% end %>
</ul>

<div class="actions">
  <%= link_to 'Add an organization', new_organization_path, class: 'btn btn-primary' %>
</div>
