<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Organizations') %></li>
</ol>
<% end %>

<ul class="index">
<% @organizations.each do |organization| %>
  <li>
    <%= link_to organization.name, organization %>
    <span class="actions">
      <%= link_to edit_organization_path(organization) do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= _('Edit') %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>

<p>
  <%= link_to(new_organization_path, class: 'btn btn-primary') do %>
    <span class="glyphicon glyphicon-plus"></span> <%= _('Add an organization') %>
  <% end %>
</p>
