<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Sensitivity Tables'), sensitivities_path %></li>
  <li><%= link_to @sensitivity.name, @sensitivity %></li>
  <li class="active"><%= @variable.name %>
    <%= link_to [:edit, @sensitivity, @variable], class: 'btn btn-default btn-xs', title: _('Edit') do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>

    <%= link_to new_sensitivity_variable_path(@sensitivity), class: 'btn btn-default btn-xs' do %>
      <span class="glyphicon glyphicon-plus"></span> <%= _('Add a variable') %>
    <% end %>
  </li>
</ol>
<% end %>

<% if @variable.any_of?(:name, :machine_name, :default_value, :unit_value_down, :unit_value_up, :account) %>
<div class="panel panel-primary">
  <div class="panel-heading panel-title">
    <%= _('Economic Measures') %>
  </div>
  <div class="panel-body">
    <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @variable, attribute: :name} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :machine_name} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :pbo_assumption, formatter: value_formatter(@variable)} %>
  </div>
</div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading panel-title">
    <%= _('Widget') %>
  </div>
  <div class="panel-body">
    <%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @variable, attribute: :unit_name} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :default_value, formatter: value_formatter(@variable)} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :minimum, formatter: value_formatter(@variable)} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :maximum, formatter: value_formatter(@variable)} %>
    <%= render partial: 'citizen_budget_model/shared/field', locals: {record: @variable, attribute: :step, formatter: value_formatter(@variable)} %>
  </div>
</div>

