<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Multipliers'), multipliers_path %></li>
  <li><%= link_to @multiplier.name, @multiplier %></li>
  <li><%= link_to @policy_section.name, [@multiplier, @policy_section] %></li>
  <li class="active"><%= _('Edit') %></li>
</ol>
<% end %>

<%= render 'form' %>

