<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Simulators') %></li>
</ol>
<% end %>

<ul class="list-unstyled">
<% @simulators.each do |simulator| %>
  <li>
    <%= link_to edit_simulator_path(simulator), class: 'action-edit' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= _('Edit') %>
    <% end %>
    <%= link_to simulator, class: 'action-delete', method: :delete, data: { confirm: _('Are you sure?') } do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= _('Delete') %>
    <% end %>
    <%= link_to simulator.name, simulator, class: 'action-show' %>
  </li>
<% end %>
</ul>

<div class="actions">
  <%= link_to 'Add an simulator', new_simulator_path, class: 'btn btn-primary' %>
</div>
