<h1>Listing simulators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Equation</th>
      <th>Distribution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulators.each do |simulator| %>
      <tr>
        <td><%= simulator.name %></td>
        <td><%= simulator.equation %></td>
        <td><%= simulator.distribution %></td>
        <td><%= link_to 'Show', simulator %></td>
        <td><%= link_to 'Edit', edit_simulator_path(simulator) %></td>
        <td><%= link_to 'Destroy', simulator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulator', new_simulator_path %>
