<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="active"><%= _('Simulators') %></li>
</ol>
<% end %>

<ul class="list-unstyled index">
<% @simulators.each do |simulator| %>
  <li>
    <%= link_to simulator.name, simulator %>
    <span class="actions">
      <%= link_to [:edit, simulator] do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= _('Edit') %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>

<p>
  <%= link_to(new_simulator_path, class: 'btn btn-primary') do %>
    <span class="glyphicon glyphicon-plus"></span> <%= _('Add a simulator') %>
  <% end %>
</p>
