<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @simulator.name %>
</p>

<p>
  <strong>Equation:</strong>
  <%= @simulator.equation %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @simulator.distribution %>
</p>

<%= link_to 'Edit', edit_simulator_path(@simulator) %> |
<%= link_to 'Back', simulators_path %>
