<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Simulators'), simulators_path %></li>
  <li class="active"><%= @simulator.name %>
    <%= link_to [:edit, @simulator], class: 'btn btn-default btn-xs', title: _('Edit') do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </li>
</ol>
<% end %>

<% if @simulator.sections.any? %>
<h2><%= _('Sections') %></h2>

<ul class="index sortable">
<% @simulator.sections.each do |section| %>
  <li id="<%= dom_id(section) %>">
    <span class="glyphicon glyphicon-resize-vertical"></span>
    <%= link_to section.display_name, [@simulator, section] %>
    <span class="actions">
      <%= link_to [:edit, @simulator, section] do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= _('Edit') %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>
<% end %>

<p>
  <%= link_to(new_simulator_section_path(@simulator), class: 'btn btn-primary') do %>
    <span class="glyphicon glyphicon-plus"></span> <%= _('Add a section') %>
  <% end %>
</p>
