<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Simulators'), simulators_path %></li>
  <li><%= link_to @simulator.name, @simulator %></li>
  <li><%= link_to @section.display_name, [@simulator, @section] %></li>
  <li class="active"><%= _('Edit') %></li>
</ol>
<% end %>

<%= render 'form' %>
