<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Simulators'), simulators_path %></li>
  <li><%= link_to @simulator.name, @simulator %></li>
  <li><%= _('Sections') %></li>
  <li class="active"><%= _('Add') %></li>
</ol>
<% end %>

<%= render 'form' %>
