<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to _('Simulators'), simulators_path %></li>
  <li><%= link_to @simulator.name, @simulator %></li>
  <li class="active"><%= @section.display_name %>
    <%= link_to [:edit, @simulator, @section], class: 'btn btn-default btn-xs', title: _('Edit') do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </li>
</ol>
<% end %>

<%= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @section, attribute: :title} %>
<%#= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @section, attribute: :description} %>
<%#= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @section, attribute: :modal} %>
<%#= render partial: 'citizen_budget_model/shared/translated_field', locals: {record: @section, attribute: :popover} %>

<% if @section.questions.any? %>
<h2><%= _('Questions') %></h2>

<ul class="list-unstyled index sortable">
<% @section.questions.each do |question| %>
  <li id="<%= dom_id(question) %>">
    <span class="glyphicon glyphicon-resize-vertical"></span>
    <%= link_to question.display_name, [@simulator, @section, question] %>
    <span class="actions">
      <%= link_to [:edit, @simulator, @section, question] do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= _('Edit') %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>
<% end %>

<p>
  <%= link_to(new_simulator_section_question_path(@simulator, @section), class: 'btn btn-primary') do %>
    <span class="glyphicon glyphicon-plus"></span> <%= _('Add a question') %>
  <% end %>
</p>
